* {
    margin:0;
    padding:0;
}
div.app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto Slab', serif;
    margin: 0 auto;
    background-color: green;
    text-align: center;
}
nav{
    
    flex-basis: 10vh;
    min-height: 40px;
    width: 100%;
    background-color: #f6f6f6;
    border-bottom: 2px dashed lightgrey;
}
div.logo{
    flex-basis: 20vh;
    max-height: 200px;
    background-color: #f6f6f6;
    border-bottom: 2px dashed lightgrey;
}
main{
    flex-grow:1;
    background-color: #f6f6f6;
    
}
footer{
    flex-basis: 10vh;
    max-height: 200px;
    background-color: #f6f6f6;
    
}