nav ul {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	padding-right: 50px;
	padding-top: 13px;
}
nav ul li {
	width: 150px;
	transition: 0.2s;
}
nav ul li:nth-child(1) {
}
nav ul li:hover {
	transform: translateY(4px);
}
nav ul a.active {
	border-bottom: 4px solid #99ddcc;
}

nav ul a {
	text-decoration: none;
	color: #323232;

	font-weight: bold;
	font-size: 25px;
}
@media (max-width: 700px) {
	nav ul a {
		font-size: 20px;
	}
}
@media (max-width: 500px) {
	nav ul {
		display: flex;
		justify-content: center;
		padding-right: 0px;
		padding-top: 20px;
	}
	nav ul a {
		font-size: 15px;
	}
}
@media (max-width: 350px) {
	nav ul a {
		font-size: 10px;
	}
}
