div.listPage h1{
    margin: 5vh 0;
    
}
div.listPage div.box{
    
    padding: 5vh 15vw;
    text-align: justify;
    display: flex;
    justIfy-content: space-around;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    
}
div.listPage div.box{
    border-bottom: 2px dashed lightgrey;
}
div.listPage div.box:hover{
    transform: scale(1.03);
}
div.listPage div.box h2{
    flex-grow: 1;
    width: 10vw;
    
}
div.listPage a{
    text-decoration: none;
    color: #323232;
}

div.listPage div.box img{
    flex-grow: 1;
    height: 20vh;
    padding: 0 5vw;
    margin: 0 5vw;
    border-right: 2px dashed lightgrey;
    border-left: 2px dashed lightgrey;
}
div.listPage div.box p{
    flex-grow: 1;
    width: 50vw;
}
div.listPage div.box p span{
    margin: 10vh 0 0 40vw;
}